In [1]:
# üß© Employee Management System

import pandas as pd

# Step 1: Create or load dataset
try:
    df = pd.read_csv("employees.csv")
    print("‚úÖ Existing employee data loaded.")
except:
    df = pd.DataFrame(columns=["ID", "Name", "Department", "Salary"])
    print("üÜï New employee dataset created.")

# Step 2: Define CRUD functions
def add_employee(emp_id, name, dept, salary):
    global df
    if emp_id in df['ID'].values:
        print("‚ö†Ô∏è Employee ID already exists!")
        return
    df.loc[len(df)] = [emp_id, name, dept, salary]
    df.to_csv("employees.csv", index=False)
    print(f"‚úÖ Employee {name} added successfully!")

def view_employees():
    print("\nüìã Employee List:")
    print(df)

def update_employee(emp_id, column, new_value):
    if emp_id not in df['ID'].values:
        print("‚ùå Employee not found!")
        return
    df.loc[df['ID'] == emp_id, column] = new_value
    df.to_csv("employees.csv", index=False)
    print(f"üîÑ Employee ID {emp_id} updated successfully!")

def delete_employee(emp_id):
    global df
    if emp_id not in df['ID'].values:
        print("‚ùå Employee not found!")
        return
    df = df[df['ID'] != emp_id]
    df.to_csv("employees.csv", index=False)
    print(f"üóë Employee ID {emp_id} deleted successfully!")

def hr_report():
    print("\nüìä HR Analytics Summary:")
    print(f"Total Employees: {len(df)}")
    print(f"Average Salary: ‚Çπ{df['Salary'].mean():.2f}")
    print("\nAverage Salary by Department:")
    print(df.groupby('Department')['Salary'].mean())

# Step 3: Test the system
add_employee(101, "John Doe", "HR", 55000)
add_employee(102, "Alice", "IT", 72000)
add_employee(103, "Bob", "Finance", 64000)
view_employees()
update_employee(103, "Salary", 70000)
delete_employee(101)
view_employees()
hr_report()

üÜï New employee dataset created.
‚úÖ Employee John Doe added successfully!
‚úÖ Employee Alice added successfully!
‚úÖ Employee Bob added successfully!

üìã Employee List:
    ID      Name Department  Salary
0  101  John Doe         HR   55000
1  102     Alice         IT   72000
2  103       Bob    Finance   64000
üîÑ Employee ID 103 updated successfully!
üóë Employee ID 101 deleted successfully!

üìã Employee List:
    ID   Name Department  Salary
1  102  Alice         IT   72000
2  103    Bob    Finance   70000

üìä HR Analytics Summary:
Total Employees: 2
Average Salary: ‚Çπ71000.00

Average Salary by Department:
Department
Finance    70000.0
IT         72000.0
Name: Salary, dtype: float64